body {
  background: green;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#card {
  height: 450px;
  width: 300px;
  background-color: white;
  border-radius: 5%;
  position: relative;
}
.card p {
  font: 150px/440px roboto;
  text-align: center;
  margin: auto;
}
#topSuit {
  font-size: 100px;
  position: absolute;
  top: 3px;
  left: 10px;
}
#number {
  color: black;
  font-size: 120px;
  width: 120px;
  margin: auto;
}
#bottomSuit {
  transform: rotate(180deg);
  font-size: 100px;
  position: absolute;
  bottom: 3px;
  right: 10px;
}
.red {
  color: red;
}
